@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

.sidebar {
  display: flex;
  width: 220px;
  height: auto;
  background: #3c3c3b;
  min-height: 500vh;
  flex-direction: column;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background: rgba(0, 0, 0, 5);
}
