@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap");

.sidebar {
  display: flex;
  width: 220px;
  height: 800px;
  background: #3c3c3b;
  min-height: 100vh;
  flex-direction: column;
}

.logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 10px 20px;
  background: #292929;
  cursor: pointer;
  color: #fdcc6b;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 100;
  size: 13px;
}

.stocks-table {
  font-family: "Poppins";
  size: 14px;
}

.th-company {
  height: 14px;
  margin-right: 40px;
}

.th-tenancy {
  height: 14px;
  margin-right: 40px;
}

.th-stocktype {
  height: 14px;
  margin-right: 40px;
}
.th-amount {
  height: 14px;
  margin-right: 40px;
}
.th-stocknumber {
  height: 14px;
  margin-right: 40px;
}
.th-share {
  height: 14px;
  margin-right: 40px;
}
.th-value {
  height: 14px;
}

.logOut {
  text-align: center;
  color: #c9b791;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 100;
  size: 13px;
  padding: 20px;
  margin-top: 65vh;
  border-top: 1px solid #c9b791;
}
